header{

}

div {

}

p{

}

body{
 text-align: center;
}

section{

}

.top-cards{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-top: 150px;

}

.top-card{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-card-title{
    border: 2px solid black;
    padding: 10px;
    width: 300px;
    position: absolute;
    top: -50px;
    z-index: 10;
    background-color: white;

}

.top-card-inner{
    border: 4px dotted black;
    padding: 20px;

}

.top-card-description{

}

.code-snippet{
    border: 2px solid black;
    padding: 30px; 
    font-size: 2rem;

}

.bottom-cards{

}

.bottom-card{

}

footer{

}